.agents-block, #block-views-agent-block { margin-bottom: 20px;
                                          .views-row { @include shadow; background-color: #ffffff; margin-bottom: 15px; padding: 14px 10px 15px 10px;
                                                       .views-field-field-photo { float: left; margin-right: 20px; width: 50px;
                                                                                  img { width: 50px; }
                                                       }
                                                       .views-field-title { margin-bottom: 8px;
                                                                            a { color: $black; font-size: 14px;
                                                                                &:hover { text-decoration: none; }
                                                                            }
                                                       }
                                                       .views-field-field-email, .views-field-field-phone { font-size: 12px;
                                                                                                            .views-label { font-weight: bold; }
                                                                                                            .field-content { display: inline-block; }
                                                       }

                                                       &:last-child { margin-bottom: 0px; }
                                          }
}

@media (min-width: 1200px)  {
  .agents-block, #block-views-agent-block {
    .views-row { padding: 20px 20px;
                 .views-field-field-photo { width: 55px;
                                            img { width: 55px; }
                 }
                 .views-field-title {
                   a { font-size: 16px; }
                 }
                 .views-field-field-phone { font-size: 13px;}
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .agents-block, #block-views-agent-block {
    .views-row { padding: 10px;
                 .views-field-field-photo { margin: 0px; text-align: center; width: 100%;
                                            img { width: 70px; }
                 }

                 .views-field-field-photo { float: none; margin: 0px 0px 10px 0px; text-align: center; }
                 .views-field-title { margin: 0px; text-align: center;
                                      a { font-size: 18px; }
                 }
                 .views-field-field-email,
                 .views-field-field-phone { text-align: center; }
    }
  }
}

.agent.content {
  display: inline-block;
  background-color: #FFF;
  padding: 15px;
  h2 {
    font-weight: bold;
    margin-top: 0px;
  }
  .field.field-name-field-photo {
    display: inline-block;
    margin-right: 10px;
    width: 140px;
    img {
      max-width: 100%;
    }
  }
  .field-name-body {
    display: inline;
  }
  .field-name-field-phone, .field-name-field-email, .field-name-field-employee-type {
    margin: 10px 0px;
  }
  .agent-content {
    display: inline-block;
    width: calc(100% - 150px);
  }
}

@media (max-width: 568px) {
  .agent.content {
    .agent-photo {
      width: 100%;
      text-align: center;
      margin-right: 0px;
      margin-bottom: 10px;
      .field.field-name-field-photo {
        margin: 0px auto;
        float: none;
      }
    }
    .agent-content {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .view-display-id-page_1 { margin-left: 20px; margin-right: 20px;
                            .views-row {
                              .span2 { text-align: center; }
                              h3 { text-align: center; }
                            }
  }
}