@import 'compass/utilities/general/clearfix';
@import 'compass/css3/images';
@import 'compass/css3/background-clip';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-sizing';
@import 'compass/css3/box-shadow';
@import 'compass/css3/images';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';

/* @import 'colors'; */
@import 'mixins';
@import 'forms';
@import 'navigation';
@import 'palette';
@import 'gallery';
@import 'search';
@import 'ezmark';
@import 'simplenews';
@import 'faq';
@import 'slider';
@import 'agents';
@import 'partners';
@import 'filters';
@import 'properties';
@import 'propertydetail';
@import 'carousel';
@import 'features';
@import 'header';
@import 'triptych';
@import 'footer';

html { height: 100%; }
body { -webkit-font-smoothing: antialiased; background-color: $gray-lighter; color: $gray; font-family: 'Roboto', 'Arial', sans-serif; font-size: 14px; height: 100%; margin: 0px; padding: 0px;
       a { @include transition(color .1s ease-in); color: $blue;
           &:hover { color: darken($blue, 10%);  text-decoration: underline; }
       }
       hr { border-top: 0px; }
       p {
         line-height: 20px;
         &.content-icon-spacing { padding-left: 55px; }
       }

       iframe.map { @include box-sizing(border-box); @include shadow; border: 15px solid $white; margin-bottom: 20px; width: 100%; }

       #wrapper-outer { height: 100%;
                        #wrapper { @include transition(left .3s ease-in); display: table; height: 100%; position: relative; width: 100%;
                                   #wrapper-inner { display: table-row; height: 100%; }
                                   #footer-wrapper { display: table-row; height: 1px; }
                        }
       }
       #bottom { margin-bottom: 0px; }

       &.toolbar-drawer { padding-top: 65px !important;
                          #footer-wrapper { margin-top: -65px; }
       }
}

@media(min-width: 980px) {
  body {
    padding-top: 0px;
  }
}

h1.page-header { border: 0px; color: $blue-dark; font-size: 30px; font-weight: lighter; line-height: 30px; margin: 20px 0px; padding: 0px; }
h2 { color: $h2; font-size: 24px; font-weight: lighter; margin: 20px 0px; }
h3 { color: $black; font-size: 18px; font-weight: normal;
     &.address { background-image: url('../img/icons/bubble-address.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
     &.call-us { background-image: url('../img/icons/bubble-call-us.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
     &.email { background-image: url('../img/icons/bubble-email.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
     @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
       &.address { background-image: url('../img/icons/bubble-address@2x.png'); }
       &.call-us { background-image: url('../img/icons/bubble-call-us@2x.png'); }
       &.email { background-image: url('../img/icons/bubble-email@2x.png'); }
     }
}

@media (max-width: 979px) {
  body {
    &.nav-open {
      #wrapper-outer { overflow-x: hidden;
                       #wrapper {  left: 70%; }
      }
    }
  }
}
#wrapper-outer.no-triptych {
  #content { padding-bottom: 30px; }
}

#content {
  section {
    article { }
    iframe { width: 100% !important; }
    .faces {
      h2 { text-align: center; margin-bottom: 0px; }
      p { text-align: center; }
    }
  }
  h2 {
    color: $blue-dark;
  }
}

@media (max-width: 767px) {
  #content {
    section {
      article { margin-left: 20px; margin-right: 20px;
                .faces { text-align: center;
                         h2 { text-align: center; }
                         p { text-align: center; }
                }
      }
    }
  }
}

aside {
  .block {
    .title {
      h2 { color: $h2; font-size: 24px; font-weight: lighter; line-height: 30px; }
    }
    .content {
      .sf-menu { float: none; width: auto;
                 li { background-color: transparent; background-image: url('../img/block-nav-border.png'); background-position: left bottom; background-repeat: repeat-x; color: $blue-dark; float: none; list-style: disc; list-style-position: inside; padding: 6px 0px; width: auto;
                      a { border: 0px; color: $blue; display: inline-block; line-height: 23px; padding: 0px;
                          &:hover { background-color: transparent; }
                      }
                      &:first-child { padding-top: 0px; }
                      &:last-child { background-image: none; }
                 }
      }
      .nav {
        li { background-image: url('../img/block-nav-border.png'); background-position: left bottom; background-repeat: repeat-x; color: $blue-dark; list-style: disc; list-style-position: inside; padding: 6px 0px;
             a { color: $blue; display: inline-block; line-height: 23px;
                 &:hover { background-color: transparent; }
             }
             &:first-child { padding-top: 0px; }
             &:last-child { background-image: none; }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  h1.page-header { padding-left: 20px; padding-right: 20px; }
  aside { padding-left: 20px; padding-right: 20px; }
}

.sidebar {
  .well { @include border-radius(0px); @include box-shadow(none); background-color: transparent; border: 0px; padding: 0px;
          .title {
            h2 { font-size: 24px; font-weight: 100; }
          }
          .content { background-color: $white; padding: 20px; }
  }
}

.btn {
  @include transition(background-color .2s ease-in); @include background-image(none); @include border-radius(0px); @include box-shadow(none); @include text-shadow(none); border: 0px; color: $white; padding: 7px 15px 7px 15px;
  &:hover, &:active, &:focus {
    @include border-radius(0px); @include box-shadow(none); @include text-shadow(none); @include transition(background-color .2s ease-in); border: 0px; color: $white;
  }

  &.btn-primary { background-color: $blue;
                  &:hover { background-color: darken($blue, 10%); }
  }
}

.view-display-id-frontpage_slider { height: 428px; overflow: hidden;
                                    .views-row {
                                      img { height: 428px; width: 100%; }
                                    }
}

.breadcrumb-wrapper { background-color: $breadcrumbs-color; border-bottom: 1px solid transparent;
                      .breadcrumb { @include border-radius(0px); background-color: transparent; margin: 0px; padding: 0px;
                                    li { @include text-shadow(none); color: $white; font-size: 12px;
                                         a { @include text-shadow(none); color: $blue; display: inline-block; padding: 3px 5px; }
                                         .divider { @include text-shadow(none); color: $white; }
                                    }
                      }
}

@media (max-width: 767px) {
  .breadcrumb-wrapper { padding-left: 20px; padding-right: 20px;
                        .breadcrumb {
                          li {
                            &:first-child {
                              a { padding-left: 0px; }
                            }
                          }
                        }
  }
}


ul.pager { @include border-radius(0px); @include box-shadow(none); margin-bottom: 0px; margin-top: 30px;
           li {
             a { @include border-radius(0px); @include box-shadow(0px 1px 1px rgba(1, 1, 1, .25)); background-color: $white; border: 0px; margin: 0px 10px; padding: 7px 14px;
                 &:hover { background-color: $blue; color: $white; }
             }
             &.active {
               a { background-color: $blue-light; color: $white; }
             }
             &:first-child, &:last-child {
               a { @include border-radius(0px); }
             }
           }
}

@media (max-width: 767px) {
  ul.pager {
    li {
      a { margin: 0px 3px; }
    }
  }
}

.not-found { background-image: url('../img/icons/404.png'); background-position: center top; background-repeat: no-repeat; background-size: 197px 218px; margin-bottom: 100px; margin-top: 100px; padding-top: 120px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/icons/404@2x.png');
             }
             strong { color: $blue-dark; display: block; font-size: 222px; font-weight: normal; margin-bottom: 100px; text-align: center; }
             h1 { font-size: 30px; font-weight: lighter; text-align: center; }
             hr { margin: 20px auto; width: 365px; }
             .form-search { float: none; margin: 27px auto 10px auto; width: 360px;
                            .input-append {
                              label { display: none; }
                              input { @include border-radius(0px); border-right: 0px; width: 326px; }
                              button { @include background-image(none); @include border-radius(0px); @include box-shadow(none); @include text-shadow(none);
                                       background-color: $white; background-image: url('../img/icons/search.png'); background-position: center center; background-repeat: no-repeat; background-size: 13px 13px; border: 1px solid $gray-medium; border-left: 0px; display: inline-block; margin: 0px 0px 0px -5px; padding: 6px 15px; vertical-align: top; text-indent: -9999px; }
                            }
                            .control-group { display: inline-block; margin: 0px; }
             }
             p { font-size: 18px; text-align: center;
                 a { text-decoration: underline; }
             }
}

.infoBox { position: relative;
           > img { display: none; }

           .infobox { @include clearfix-normal; background-color: $white; padding: 10px; position: relative; width: 270px; z-index: 500;
                      .views-field {

                      }
                      .views-field-field-image { float: left; margin-bottom: 10px; margin-right: 10px; }
                      .views-field-title { font-size: 18px;
                                           a {
                                             &:href { text-decoration: none; }
                                           }
                      }
                      .views-field-field-location {}
                      .views-field-field-area { color: $black; margin-top: 5px;
                                                .views-label { float: left; font-weight: bold; }
                      }
                      .views-field-field-price { clear: left; color: $black; float: left; font-size: 18px; margin-top: 8px; }
                      .views-field-view-node {
                        a { @include buttonize; clear: right; float: right;
                            &:hover { text-decoration: none; }
                        }
                      }
                      .views-field-field-price-range {
                        label { font-weight: bold; }
                        div { display: inline-block; }
                      }
                      .views-field-latitude {
                        display: inline-block;
                        clear: both;
                        border-top: 2px solid #dfdfdf;
                        margin-top: 10px;
                        padding: 5px 0px;
                        width: 100%;
                      }
                      &:before { bottom: -16px; border: 8px solid transparent; border-top-color: $white; content: ''; height: 0px; margin-left: -8px; left: 50%; position: absolute; width: 0px; z-index: 100; }
           }
}


.marker {
  background-image: url('../img/markers/marker-blue.png'); background-position: center top; background-repeat: no-repeat; background-size: 30px 40px; cursor: pointer; height: 40px; opacity: .8; position: relative; width: 30px;
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    background-image: url('../img/markers/marker-blue@2x.png');
  }

  .marker-inner {
    background-image: url('../img/markers/icons/other.png'); background-position: center; background-repeat: no-repeat; width: 22px; height: 22px; position: relative; background-size: contain; top: 4px; left: 4px;
  }

  &:hover {
    margin-top: -10px; padding-bottom: 10px; opacity: 1;
  }

  &.term-1 {
    .marker-inner {
      background-image: url('../img/markers/icons/single-house.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

  &.term-2 {
    .marker-inner {
      background-image: url('../img/markers/icons/family-house.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

  &.term-3 {
    .marker-inner {
      background-image: url('../img/markers/icons/apartment.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

  &.term-4 {
    .marker-inner {
      background-image: url('../img/markers/icons/villa.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

  &.term-5 {
    .marker-inner {
      background-image: url('../img/markers/icons/condo.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

  &.term-6 {
    .marker-inner {
      background-image: url('../img/markers/icons/cottage.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

  &.term-7 {
    .marker-inner {
      background-image: url('../img/markers/icons/building-area.png') !important; background-position: 6px 5px; background-repeat: no-repeat; width: 36px; height: 36px; position: relative;

    }
  }

}

.clusterer {
  @include border-radius(36px, 36px); border: 5px solid $blue; background-color: $white; width: 24px; height: 24px; opacity: .8;
  .clusterer-inner {
    text-align: center; line-height: 24px; color: $blue-dark; font-weight: 900; width: 100%; height: 100%;
  }
}

body.green {
  .marker {
    background-image: url('../img/markers/marker-green.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-green@2x.png');
    }
  }
}

body.green-light {
  .marker {
    background-image: url('../img/markers/marker-green-light.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-green-light@2x.png');
    }
  }
}

body.brown {
  .marker {
    background-image: url('../img/markers/marker-brown.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-brown@2x.png');
    }
  }
}

body.brown-dark {
  .marker {
    background-image: url('../img/markers/marker-brown-dark.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-brown-dark@2x.png');
    }
  }
}

body.turquiose {
  .marker {
    background-image: url('../img/markers/marker-brown-dark.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-brown-dark@2x.png');
    }
  }
}

body.orange {
  .marker {
    background-image: url('../img/markers/marker-orange.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-orange@2x.png');
    }
  }
}

body.magenta {
  .marker {
    background-image: url('../img/markers/marker-magenta.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-magenta@2x.png');
    }
  }
}

body.red {
  .marker {
    background-image: url('../img/markers/marker-red.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-red@2x.png');
    }
  }
}

body.violet {
  .marker {
    background-image: url('../img/markers/marker-violet.png');
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      background-image: url('../img/markers/marker-violet@2x.png');
    }
  }
}

body.pattern-cloth-alike {
  #content { background-image: url('../img/patterns/large/cloth-alike.png'); background-repeat: repeat; background-size: 102px 78px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/cloth-alike@2x.png');
             }
  }
}

body.pattern-corrugation {
  #content { background-image: url('../img/patterns/large/corrugation.png'); background-repeat: repeat; background-size: 8px 5px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/corrugation@2x.png');
             }
  }
}

body.pattern-diagonal-noise {
  #content { background-image: url('../img/patterns/large/diagonal-noise.png'); background-repeat: repeat; background-size: 100px 100px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/diagonal-noise@2x.png');
             }
  }
}

body.pattern-dust {
  #content { background-image: url('../img/patterns/large/dust.png'); background-repeat: repeat; background-size: 400px 300px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/dust@2x.png');
             }
  }
}

body.pattern-fabric-plaid {
  #content { background-image: url('../img/patterns/large/fabric-plaid.png'); background-repeat: repeat; background-size: 102px 78px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/fabric-plaid@2x.png');
             }
  }
}

body.pattern-farmer {
  #content { background-image: url('../img/patterns/large/farmer.png'); background-repeat: repeat; background-size: 200px 200px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/farmer@2x.png');
             }
  }
}

body.pattern-grid-noise {
  #content { background-image: url('../img/patterns/large/grid-noise.png'); background-repeat: repeat; background-size: 98px 98px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/grid-noise@2x.png');
             }
  }
}

body.pattern-lightpaperfibers {
  #content { background-image: url('../img/patterns/large/lightpaperfibers.png'); background-repeat: repeat; background-size: 500px 300px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/lightpaperfibers@2x.png');
             }
  }
}

body.pattern-retina-wood {
  #content { background-image: url('../img/patterns/large/retina-wood.png'); background-repeat: repeat; background-size: 512px 512px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/retina-wood@2x.png');
             }
  }
}

body.pattern-lghtmesh {
  #content { background-image: url('../img/patterns/large/lghtmesh.png'); background-repeat: repeat; background-size: 256px 256px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/lghtmesh@2x.png');
             }
  }
}

body.pattern-pw-maze-white {
  #content { background-image: url('../img/patterns/large/pw-maze-white.png'); background-repeat: repeat; background-size: 46px 23px;
             @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
               background-image: url('../img/patterns/large/pw-maze-white@2x.png');
             }
  }
}

body.header-light {
  .breadcrumb-wrapper { background-color: $white; border-bottom: 1px solid $gray-lighter;
                        span { color: $gray !important;  }
  }
  #navigation { background-color: $blue-dark;
                .block-superfish {
                  > content > ul > li {
                    &:hover, &:active { background-color: $blue; border-top: 2px solid $blue-dark; text-decoration: none; }
                  }
                  .nolink, a { color: $white !important;
                               &:hover, &:active { background-color: $blue; border-top: 2px solid $blue-dark; text-decoration: none; }
                  }
                  .menuparent {
                    > .nolink,
                    > a { background-image: url('../img/arrow-bottom-white.png') !important;
                          @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
                            background-image: url('../img/arrow-bottom-white@2x.png') !important;
                          }
                    }
                    .menuparent {
                      > .nolink,
                      > a { background-image: url('../img/arrow-right-white.png') !important;
                            @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
                              background-image: url('../img/arrow-right-white@2x.png') !important;
                            }
                      }
                    }
                  }
                }
  }
}

body.header-dark {
  .breadcrumb-wrapper { background-color: $blue-dark; border-bottom: 1px solid $blue-dark; }
  #header-inner { background-color: $blue-medium; color: $white;
                  .site-name {
                    a { color: $white !important; }
                  }
                  .site-phone {
                    span { background-image: url("../img/icons/phone-white.png") !important; color: $white !important;
                           @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
                             background-image: url("../img/icons/phone-white@2x.png") !important;
                           }
                    }
                  }
                  .site-email {
                    a { background-image: url("../img/icons/mail.png") !important; color: $white !important;
                        @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
                          background-image: url("../img/icons/mail@2x.png") !important;
                        }
                    }
                  }
  }
}

/*  custom stylesheet  */
.text-center {
  text-align: center; margin-bottom: 15px;
  img {
    width: 50%;
  }
}
.node-type-apartment {
  #wrapper {
    #content {
      .field-name-body {
        p {
          strong {
            margin-bottom: 5px;
          }
        }
      }
      .field-name-field-general-amenities  {
        display: inline-block; width: 100%;
        .field-item {
          float: left; min-width: 120px; width: 50%; padding: 5px 0px;
        }
      }
    }
  }
  table {
    width: calc(100%) !important;
    max-width: calc(100%) !important;
  }
}
.location {
  clear: both; margin: 10px 0px;
  .field-item {
    display: inline-block; width: 100%;
    label {
      width: 50%; float: left; display: inline-block; font-weight: bold; margin: 0px;
    }
    span {
      width: 50%; float: left; display: inline-block;
    }
  }
  .field {
    .field-label,
    .field-items {
      width: 50%; float: left; padding: 0px !important;
    }
  }
  .text-center {
    margin-bottom: 0px;
    .get-direction {
      background-color: $block-filter; display: block; padding: 15px; line-height: 30px; font-size: 16px; font-weight: bold;
    }
  }
}
.overview {
  .location {
    .text-center {
      margin-top: 10px;
    }
  }
}
ul.taxonomy-term-features {
  li {
    text-align: center !important;
  }
}
.communities-content {
  .views-field {
    background-color: $white; padding: 15px; margin: 10px 0px;
    .row {
      margin: 0px;
      .span3 {
        margin: 0px; text-align: center;
        image {
          max-width: 100%;
        }
      }
      .span5, .span8, .span12 {
        .title-price {
          .title {
            font-size: 24px;
          }
        }
        > div:not(:last-child) {
          margin-bottom: 5px;
        }
        .spirit {
          background-repeat: no-repeat; background-position: left center; color: $black-dark; display: inline-block; margin-right: 5px; padding-right: 10px;
          span {
            font-weight: bold;
          }
        }
        .bedroom {
          background-image: url("../img/icons/bedrooms.png"); background-size: 21px 12px; text-align: right; width: 31px;
        }
        .bathroom {
          background-image: url("../img/icons/bathrooms.png"); background-size: 14px 20px; text-align: right; width: 25px;
        }
      }
    }
  }
}
#views-exposed-form-floor-plans-page,
#views-exposed-form-communities-page-1 {
  .views-exposed-form {
    padding: 15px; background-color: $blue-medium;
    .views-exposed-widgets {
      > .views-exposed-widget {
        > label {
          color: $gray-lighter;
        }
        .chzn-choices {
          min-height: 25px; padding: 6px;
        }
      }
    }
  }
}
article.taxonomy-term {
  padding: 15px; background: $white;
  .overview {
    padding: 20px; border: 1px solid $gray; margin: 0px 30px 10px 0px;
    h2 {
      margin: 0px;
    }
    .table {
      display: table;
      .field {
        display: table-row; margin: 10px 0px;
        .field-label {
          display: table-cell; padding: 10px;
        }
        .field-items {
          display: table-cell; padding: 10px;
        }
        .field-label {
          display: inherit;
        }
        img {
          max-width: 50%;
        }
      }
    }
  }
  .pdfpreview {
    clear: both;
    h2 {
      margin: 0px 0px 10px 0px;
    }
    .span8 {
      margin: 0px;
      width: 100%;
      .span4 {
        display: inline-block;
        margin:0px;
        .span3 {
          margin: 0px;
          display: inline-block;
          width: 75%;
          float: left;
        }
        .span1 {
          margin: 0px;
          display: inline-block;
          width: 25%;
          float: left;
        }
      }
    }
  }
  .field {
    &.field-type-image {
      img {
        max-width: 50%;
      }
    }
    .field-label {
      display: none;
    }
  }
  .field-type-youtube {
    margin: 10px 0px;
  }
}
.agent-teaser {
  background: $white; padding: 10px; display: block; margin: 10px 0px; min-height: 100px;
  .agent-image, .agent-info {
    float:left;
    width: calc(28%);
  }
  .agent-info {
    margin-left: 2%;
    width: calc(70%);
    a, p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > div {
      margin-bottom: 10px;
    }
  }
  .field-label {
    display: none;
  }
  .field-name-field-photo {
    max-width: 75px; max-height: 100px; overflow: hidden;
  }
}
.featured-mask {
  width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 999; background-color: $opc-black;
  .featured-wrap {
    left: 0; top: 0; position: absolute; height: 100%; width: 100%; background-position: center; background-repeat: no-repeat; background-size: contain;
  }
  .nav {
    opacity: 0.5; background-color: $blue; background-position: center center; background-repeat: no-repeat; background-size: 8px 11px; color: transparent; cursor: pointer; height: 40px; width: 40px; position: absolute; top: calc((100% - 40px) / 2);
    &:hover {
      opacity: 1;
    }
  }
  .featured-close {
    background-image: url('../img/cross-white.png'); top: 5px; right: 5px; background-size: 12px;
  }
  .featured-prev {
    background-image: url('../img/arrow-left-white.png'); left: 5px;
  }
  .featured-next {
    background-image: url('../img/arrow-right-white.png'); right: 5px;
  }
  .featured-download {
    background-image: url('../img/download-white.png'); right: 5px; background-size: 16px; top: calc(100% - 45px);
  }
}
.webform-client-form {
  .form-item {
    input {
      padding: 2%; width: 96%;
    }
  }
}
.mediabox-title, .mediabox-alt-text {
  display: none;
}
#map {
  .span3 {
    .region-map-sidebar {
      .block-multiblock {
        background: rgba(101, 167, 0, 0.6);
      }
    }
  }
}
#views-exposed-form-communities-page-1 {
  .views-exposed-form {
    width: calc(100% - 30px); display: inline-block;
    .views-exposed-widgets {
      float: right; display: inline-block;
      label {
        color: $white;
      }
    }
  }
}
.view-description {
  background-color: $white; padding: 20px;
  h2 {
    margin-top: 0px;
  }
}
.comm-list.location {
  font-weight: 500; font-size: 18px; border-bottom: 1px dashed $gray-medium; padding-bottom: 10px;
}
#pikachoose-communities-gallery, #pikachoose-floor-plans-gallery {
  .mediabox-display-image.content {
    .field-items > .field-item {
      text-align: center !important;
    }
  }
}
.view-content > .row {
  > .span12 {
    > .span6:nth-child(2n+1) {
      margin-left:0px;
    }
    > .span4:nth-child(3n+1) {
      margin-left:0px;
    }
    > .span3:nth-child(4n+1) {
      margin-left:0px;
    }
    > .span2:nth-child(6n+1) {
      margin-left:0px;
    }
  }
  > .span9 {
    > .span3:nth-child(3n+1) {
      margin-left: 0px;
    }
    > .span2:nth-child(4n+1) {
      margin-left:0px;
    }
  }
}
#community-override {
  padding: 0px;
  .nmrg {
    margin: 0px;
  }
  h2 {
    margin-top: 0px;
  }
  .row {
    & > [class^=span]:first-child {
      margin-left: 0px;
    }
  }
  & > .container > .row {
    & > .span4 {
      background: $gray-lighter; padding: 15px 0px 15px 30px;
      box-shadow: inset -1px 0px 1px 0px $gray-medium;
      .field-name-field-image {
        display: inline-block;
        float: left;
      }
      > * {
        padding-right: 15px;
      }
      #split-tabs {
        padding-right: 0px;
        .tabs {
          height: 35px; line-height: 35px; padding-left: 20px; background-color: $blue-medium; color: $white; margin: 0px;
          &.active, &:hover {
            background-color: $white; color: $blue-medium; @include transition(font-size .1s ease-in); font-size: 15px; @include transition(padding-left .1s ease-in); padding-left: 18px; box-shadow: inset 1px 1px 1px 0px $blue-medium;
          }
        }
        border-bottom: 1px solid $blue-medium;
      }
    }
    & > .span8 {
      & > .split-tabs {
        overflow: hidden !important;
        > h2 {
          margin: 10px 0px 10px 30px;
        }
        .view-related-nodes {
          .span9 {
            > .span3:nth-child(3n+1) {
              margin-left: 30px;
            }
          }
        }
        .taxonomy-term-features.span8 {
          .span3 {
            max-height: 100px;
            overflow: hidden;
          }
        }
      }
      .communities-content {
        .views-field {
          padding: 15px 0px 15px 30px;
          margin: 0px;
        }
      }
      .row {
        margin: 0px;
        .span9 {
          margin: 0px;
          [class^="span"] {
            margin: 0px;
          }
        }
      }
    }
  }
}
.listing-grid.view {
  .view-content {
    .row {
      .views-field-title {
        .field-content {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.grey-background {
  .view-content {
    background-color: $gray-medium !important;
  }
}

.field-name-field-location{
  display: none;
}

.view-top-4 {
  .span9 {
    .span2 {
      background-color: $blue-medium;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 8px;
      .views-field-title {
        margin: 5px 0px;
        text-align: left;
        .field-content {
          font-weight: bold;
          font-size: 16px;
          text-align: left;
          color: $white;
        }
      }
      .views-field-field-image {
        border-radius: 0px;
        width: 100%;
        min-height: 120px;
        max-height: 160px;
        height: auto;
        overflow: hidden;
        .field-content {
          line-height: initial;
        }
        a {
          display: inline-block;
        }
        img {
          width: calc(100%);
          max-width: calc(100%);
          -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
          -o-transition: all .2s linear;
          -ms-transition: all .2s linear;
          transition: all .2s linear;
        }
        img:hover {
          width: calc(110%);
          max-width: calc(110%);
          margin-left: -5%;
          margin-top: -5%;
        }
      }
    }
  }
}
a#btn-nav {
  background-color: $black;
  border-radius: 6px;
}

#block-webform-client-block-196 {
  margin-top: 10px;
}

.vocabulary-communities .tabs:not(.active) {
  width: 75%;
}

#community-override > .container > .row > .span4 #split-tabs{
  border-bottom: 0;
}

@media screen and (max-width: 768px) {
  .jcarousel-skin-tango {
    .jcarousel-container {
      margin: auto !important;
    }
  }
  .view-top-4 {
    .span9 {
      .span2 {
        width: calc(100% - 40px);
        margin: 10px auto !important;
      }
    }
  }
  article.taxonomy-term {
    .overview {
      float: none; margin: 0px 0px 20px 0px;
    }
  }
}
@media screen and (min-width: 769px) {
  .view-top-4 {
    .span9 {
      .span2 {
        .views-field-field-image {
          max-height: 140px;
        }
      }
    }
  }
  .taxonomy-term-features {
    width: 100%; margin: 0px;
    .span2 {
      max-height: 150px; min-height: 70px; overflow: hidden;
      &:nth-child(4n+1) {
        margin-left: 0px;
      }
    }
  }
}
.padlr30 {
  padding-left: 30px;
  padding-right: 30px;
}
.mrgb30 {
  margin-bottom: 30px;
}
.mrgt30 {
  margin-top: 30px;
}
.mrgb15 {
  margin-bottom: 15px;
}
.mrgt15 {
  margin-top: 15px;
}
form.webform-client-form {
  label {
    color: $blue !important;
  }
}
.views-exposed-form {
  .views-exposed-widgets {
    .views-exposed-widget {
      padding-right: 5px;
      padding-left: 3px;
      &:last-child {
        float: right;
      }
    }
  }
}
body.node-type-gallery{
  article.node-gallery {
    .field-name-field-image  {
      .field-item {
        text-align: center;
      }
    }
  }
}
body.page-blog {
  .span12 {
    .span6 {
      &:nth-child(odd) {
        margin-left: 0px;
      }
      [class^="blog-item-"] {
        width: 100%;
        margin: 10px 0px 50px 0px;
        .blog-image {
          width: 100%;
        }
        .blog-details {
          margin-top: 10px;
          width: calc(100%);
          .date-formater-left {
            background-color: $blue;
            border-radius: 5px;
            color: white;
            float: left;
            height: 70px;
            width: 70px;
            margin-right: 10px;
            .day {
              display: block;
              font-size: 34px;
              height: 45px;
              line-height: 45px;
              text-align: center;
              width: 100%;
            }
            .month-year {
              display: block;
              font-size: 15px;
              height: 25px;
              line-height: 25px;
              text-align: center;
              width: 100%;
            }
          }
          .title-right {
            float: left;
            width: calc(100% - 80px);
            h2 {
              margin-top: 0px;
              margin-bottom: 10px;
              height: 40px;
              line-height: 40px;
              a {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
              }
            }
            ul.subStr {
              list-style: none;
              margin: 0px;
              padding: 0px;
              font-size: 11px;
              font-style: italic;
              li {
                margin-right: 10px;
                float: left;
                height: 20px;
                line-height: 20px;
                i.fa-comments-o,
                i.fa-chevron-circle-right {
                  font-size: 12px;
                  margin-right: 5px;
                }
                i.fa-circle {
                  color: $gray;
                  font-size: 6px;
                  line-height: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
body.node-type-apartment article[id^="node-"] {
  padding: 0px;
  .span8 {
    .location {
      padding: 0px 30px;
      & > .field {
        margin: 5px;
        display: inline-block;
        width: 100%;
      }
      .split-tabs {
        & > .view {
          padding: 0px 30px;
        }
        & > .fields {
          padding: 0px 30px;
        }
        & .webform-client-form {
          select {
            width: 100% !important;
          }
          .chzn-container .chzn-drop .chzn-search input {
            width: 95% !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  body.page-blog {
    .span12 {
      .span6 {
        padding: 0px 20px;
      }
    }
  }
}