$white: #ffffff; $black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue: #54c884;
$blue-light: #419a66;
$blue-medium: #215035;
$blue-dark: #1a402a;
$blue-darker: #02293a;

$gray: #77BC1D;
$gray-medium: #d5d5d5;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;

$breadcrumbs-color: $blue-dark;
$opc-black: rgba(31,31,31,.8);$header-color: $white;