$white: #FFFFFF;
$black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue: #65A700;
$blue-light: #65A700;
$blue-medium: #65A700;
$blue-dark: #518400;
$blue-darker: #000;

$gray: #707070;
$gray-medium: #d5d5d5;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;

$h2: $white;
$footer: #4B5356;
$block-filter: #FF9024;
$block-filter-submit: #90481d;
$breadcrumbs-color: $blue-dark;
$opc-black: rgba(31,31,31,.8);$header-color: $white;