$white: #FFFFFF;
$black: #313131;
$black-dark: #1b1b1b;
$black-darker: #000000;

$blue: #ffaf50;
$blue-light: #76B81F;
$blue-medium: #b45a24;
$blue-dark: #90481d;
$blue-darker: #02293a;

$gray: #707070;
$gray-medium: #d5d5d5;
$gray-light: #b5b5b5;
$gray-lighter: #f0f0f0;

$breadcrumbs-color: $blue-dark;
$opc-black: rgba(31,31,31,.8);$header-color: $white;